<!DOCTYPE html>
<html>
<head>
    <title>Waste Bin Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>Welcome to Waste Bin Tracker</h1>
<a href="/login">Login</a> | <a href="/signup">Signup</a>
</body>
</html>
