<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="login-container">
      <h1 class="login-title">Choose a New Password</h1>
      <% if (error_msg && error_msg.length > 0) { %>
      <div class="error-message"><%= error_msg %></div>
      <% } %>
      <form method="POST">
        <input
          type="password"
          name="password"
          class="form-input"
          placeholder="New Password"
          required
        />
        <input
          type="password"
          name="confirmPassword"
          class="form-input"
          placeholder="Confirm New Password"
          required
        />
        <button type="submit" class="login-button">Update Password</button>
      </form>
    </div>
  </body>
</html>
